<!--doctype html--> 
<script type="text/javascript" src="/socket.io.js"></script>
<script type="text/javascript" src="/socket.io-stream.js"></script>

<script type="text/javascript" src="/d3.min.js"></script> 
<script type="text/javascript" src="/d3.layout.min.js"></script>
<script type="text/javascript" src="/rickshaw.min.js"></script>

<script type="text/javascript" src="/dat.gui.min.js"></script>

 <style type="text/css">
   #mainButtons {text-align:left; float:left; margin-top:10px;}
   #scanButton {width:200px; height:100px; color:blue;}
   #reScanButton {width:200px; height:100px; color:black;}
   #saveButton {width:200px; height:100px; color:red;}
   .peaks {}
 </style>

<div id="chart"></div>

<div id="mainButtons">
  <button id="scanButton" onclick="scan()">NEW SCAN</button>
  <button id="reScanButton" onclick="reScan()" disabled>RESCAN</button>
  <button id="saveButton" onclick="referenceScan()">REFERENCE SCAN</button>
</div>

<script> 

// adding a gui for sweep interface, 
// changing frequency start/finish,
// percentage done tracking
// frequency step size

var options = {  minFreq:4000
                , maxFreq:19000
                , steps:5
                , sweep:false //not implemented
              };

var gui = new dat.GUI();
var frequencyFolder = gui.addFolder('Frequency (Hz)');
frequencyFolder.add(options,'minFreq');
frequencyFolder.add(options,'maxFreq');
frequencyFolder.add(options,'steps');
gui.add(options,'sweep');

frequencyFolder.open();

// begin rickshaw graph code

var graphIndex = 0
  , _series = []
  , socket = io()
  ;

var graph = generateGraph();

configureGraph(graph);

function configureGraph(g){
  g.renderer.unstack = true;
  g.render();
}

function generateGraph(){
  _series = [];

  _series.push({
    data:[]
  , color: randomColor()
  });

  graphIndex = 0;
  // Removing all children from an element
  var element = document.querySelector("#chart");
  while (element.firstChild) {
    element.removeChild(element.firstChild);
  }

  return new Rickshaw.Graph({
    element: document.querySelector("#chart")
    // , width: 1000
    , height: 500
    , min: 0.0
    , max: 1.0
    , renderer: 'line'
    , series: _series
  });
}

function addSeries() {
  _series.push({
    data:[]
  , color: randomColor()
  });

  graphIndex++;
}

function genNum(){
  return Math.floor(Math.random() * 256);
}

function randomColor(){
  return 'rgba('+genNum()+','+genNum()+','+genNum()+',0.8)'
}

function scan() {
  reconnect();

  if (graphIndex > 0) {
    graph = generateGraph();
    configureGraph(graph);
  }

  socket.emit('scan',{reference:false,initialScan:true});
  document.getElementById('reScanButton').disabled = true;
}

ss(socket).on('graph',{objectMode:true}, function(stream) {

  stream.on('data', function(data) {
    console.log("data");
    graph.series[graphIndex].data.push(data);
    graph.update();
  })

});

socket.on('done',function(val){
  console.log('the value: ',val);
  socket.io.disconnect();
  addSeries();
  //enable rescan button
  document.getElementById('reScanButton').disabled = false;
});

function reScan(){
  reconnect();

  socket.emit('scan',{initialScan:false});
  document.getElementById('reScanButton').disabled = true;
}

function reconnect(){
  !socket.connected && socket.io.reconnect();
}

function hideAllGraphs(){
  //stubbed out method for gathering and hiding plots
  //so that they can be invidividually toggled
  graph.series.forEach( function(s) {
    console.log('s: ',s.path);
    s.path && s.path.setAttribute("opacity", 0);//style("opacity", 0);
  });
}

function referenceScan(){
  reconnect();

  socket.emit('scan',{reference:true});
}

</script>