<!--doctype html--> 
<script src="/socket.io.js"></script>

<script src="/d3.min.js"></script> 
<script src="/d3.layout.min.js"></script>
<script src="/rickshaw.min.js"></script>

 <style type="text/css">
   #demo {margin-top:50px; width:400px; height:100px; color:blue;}
   .spectrumButton {text-align: center;}

 </style>

<div id="chart"></div>

<div class="spectrumButton">
  <button id="demo" onclick="gatherData()">READ SPECTRUM</button>
</div>

<script> 

var graph = new Rickshaw.Graph({
  element: document.querySelector("#chart"), 
  width: 1000, 
  height: 200, 
  series: 
    [{color: "blue",
       data: []
  }]
});

graph.render();

function gatherData(){
  var request = new XMLHttpRequest(); 
  request.open("GET", "/api/measure/spectrum", true); 
  request.onload = function() { 
    if (request.status >= 200 && request.status < 400){ data = JSON.parse(request.responseText); 

      graph.series.addData(data);
      graph.render(); 

    } 
    else {}};

    request.onerror = function() {};

    request.send();  
}

var socket = io.connect('http://localhost:9000');
socket.on('graph', function (data) {
  graph.series[0].data.push(data);
  graph.update();
});

</script>
