<!--doctype html--> 
<script src="/socket.io.js"></script>
<script src="/socket.io-stream.js"></script>

<script src="/d3.min.js"></script> 
<script src="/d3.layout.min.js"></script>
<script src="/rickshaw.min.js"></script>

 <style type="text/css">
   .mainButtons {text-align: center;}
   #scanButton {margin-top:50px; width:400px; height:100px; color:blue;}
   #saveButton {margin-top:50px; width:100px; height:100px; color:red;}
 </style>

<div id="chart"></div>

<div class="mainButtons">
  <button id="scanButton" onclick="gatherData()">READ SPECTRUM</button>
  <button id="saveButton" onclick="saveData()">SAVE</button>
</div>

<script> 
var graph = new Rickshaw.Graph({
  element: document.querySelector("#chart"), 
  // width: 1000, 
  height: 600,
  renderer: 'line',
  series: 
    [{
      color: "blue",
       data: []
    }]
});

graph.render();

var socket = io();
// var socket = io.connect('http://localhost:9000');

function gatherData(){
  socket.emit('scan');
}

function saveData(){
  socket.emit('save');
}

ss(socket).on('graph',{objectMode:true}, function(stream) {
  console.log("graph graph graph");
  stream.on('data', function(data) {
    console.log("hi hi hi: "+JSON.stringify(data));
    graph.series[0].data.push(data);
    graph.update();
  })
});

</script>
